.firstnav-container {
    background-color: black;
    height: 35px;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
}
    .firstnav-content {
        max-width: 80%;
        margin-left: 10%;
    }

.firstnav-left-elements ul li {
    float: left;
    list-style-type: none;
}

.firstnav-left-elements ul li a {
    padding: 0 15px 0 0;
    text-decoration: none;
    font-size: 13px;
}

.firstnav-left-elements {
    position: relative;
    float: left;
    display: block;
    color: black;
    margin: 0;
}

.firstnav-left-list a {
    color: white;
    cursor: pointer;
}

.firstnav-right-elements ul li {
    float: right;
    list-style-type: none;
    padding-top: 5px;
}

.firstnav-right-elements ul li a {
    padding: 0 15px 0 0;
}

.firstnav-right-elements {
    position: relative;
    float: right;
    display: block;
    color: black;
    margin: 0;
}

.firstnav-right-list a {
    color: white;
}

@media(max-width: 510px) {
    .firstnav-left-list {
        display: none;
    }
    .firstnav-right-elements {
        position: relative;
        float: left;
        left: 39%;
    }
    
}
