.container {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.item {
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);    
}