.burger {
    display: none;
    justify-content: center;
    outline: none;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
  } 
    button.burger:focus {
        outline: none;
    }


.secondnav-container{
    width: 100%;
}
    .secondnav-lister {
        width: 100%;
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
    }

        .title {
            font-size: 60px;
            font-weight: bold;
            margin: 0 20px 0 0;
            padding: 9px 0;
        }

        .secondnav-buttons {
            float: left;
            position: static;
            height: 70px;
            z-index: 15;
        }

        .secondnav-list {
            display: inline;
            padding: 0px 20px;
            position: relative;
            margin: 0;
        }

            .secondnav-list-a {
                position: relative;
                line-height: 70px;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            }

            .secondnav-list a {
                color: rgb(66, 65, 65);
                text-decoration: none;
            }
                .secondnav-list-a svg {
                    font-size: 11px;
                }
            .secondnav-list-search {
                color:rgb(66, 65, 65);
                list-style-type: none;
                margin-right: 10px;
                font-size: 20px;
            }


/* -----------------------------SOUS MENU----------------------------- */
.under-secondnav-lister{
    display: none;
}


/* ---------------------MEDIA QUERY--------------------- */

@media(max-width: 950px) {
    .burger {
        display: inline;
        justify-content: left;
        color:rgb(66, 65, 65);
    }
    .burger:hover {
        background-color: rgba(206, 202, 202, 0.685);
    }    

    .secondnav-container {
        width: 400px;
    }
    .secondnav-container{
        width: 100%;
        background-color: white;
        justify-content: center;
        color: black;
    }
    .secondnav-list-search {
        display: inline;
        justify-content: right;
        font-size: 30px;
        color:rgb(66, 65, 65);
    }
    .secondnav-buttons {
        display: none;
    }
    .secondnav-lister {
        width: 100%;
        display: block;
    }
    .secondnav-list-search {
        float: right;
        margin-top: 10px;
    }
    .title {
        margin-left: 250px;
        font-size: 45px;
    }
    .secondnav-buttons.open {
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .secondnav-list {
        flex-wrap: wrap;
    }
        .list {
            flex: 0 0 8%;
            width: 280px;
            text-align: center;
            background-color: white;
            border-bottom: solid 1px black;
        }
}

@media(max-width : 770px) {
    .title {
        display: inline;
    }
    .title a {
        color: white;
    }
    .burger {
        float: left;
        margin-top: 9px;
    }
}

@media(max-width: 360px) {
    .secondnav-list-search {
        display: none;
    }
    .title {
        display: none;
    }
    .secondnav-lister {
        justify-content: center;
    }
    .burger {
        padding-left: 45%;
    }
}

@media(max-width: 360px) {
    .secondnav-list-search {
        display: none;
    }
    .title {
        display: none;
    }
    .secondnav-lister {
        justify-content: center;
    }
    .burger {
        padding-left: 45%;
    }
}@media(max-width: 470px) {
    .title {
        display: none;
    }
}